@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

.slide-up {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
.slide-up.in-view {
  opacity: 1;
  transform: translateY(0);
}
